# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# stupid apple stuff
.DS_Store

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/
+bus_conv_fcns/
src/
log/


# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc
# Codegen files
build_ros_model.sh
*.tgz
*_ert_rtw/
*.swp

# Octave session info
octave-workspace

*.r2018a
*.r2018b
*.r2019a
*.r2019b
*.r2020a
*.r2020b
*.original

